.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.page {

    color: white;
    background-color: #01010e;
    min-height: 900px;
    opacity: .8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #01010e 11px), repeating-linear-gradient(#393c7355, #393c73);


}

.habilidades {
    justify-content: center;
    align-items: center;
    max-width: 700px;
    height: 100%;


}

.proyectos {
    justify-content: center;
    align-items: center;
    max-width: 700px;
    height: 100%;


}



.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    min-height: 900px;
    background-color: #01010e;
    opacity: .8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #01010e 11px), repeating-linear-gradient(#393c7355, #393c73);

}



.hero-content h1 {
    font-size: 4rem;
}

.imagen-hero {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.about {
    min-height: 900px;
    background-color: #272727;
    color: #fff;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    padding: 2rem;
    font-family: Chakra Petch, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}